<div align="center">
 <h1>Welcome to the Weather App</h1>
 <form action="{% url 'currentTemp' %}" >
  Latitude:<br>
 <input type="number" name="Latitude">
 <br /><br />
  Longitude:<br>
 <input type="number" name="Longitude">
 <br /><br />
  Weather Sources(You can select mutiple):
  <select name="source" multiple>
  <option value="accuweather">Accuweather</option>
  <option value="NOAA">NOAA</option>
  <option value="weatherdotcom">weather</option>
</select>
 <input type="submit" value = "currentTemp">
</form>
<form action="{% url 'about' %}">
 <input type="submit" value = "About">
</div>
