<div align="center">
 <h1>Welcome to the weather app</h1>
 <form action="{% url 'currentTemp' %}"">
  Latitude:<br>
 <input type="text" name="Latitude">
 <br /><br />
  Longitude:<br>
 <input type="text" name="Longitude">
 <br /><br />
  Weather Sources (You can select one or more):<br>
  <select name="source" multiple>
  <option value="accuweather">Accuweather</option>
  <option value="NOAA">NOAA</option>
  <option value="weatherdotcom">weather</option>
</select>
<br /><br />
 <input type="submit" value="currentTemp">
</form>

</div>
