<div align="center">
 <h1>Welcome to the Weather App</h1>
 <form action="{% url 'currentTemp' %}"">
  Latitude:<br>
 <input type="text" name="Latitude">
 <br /><br />
  Longitude:<br>
 <input type="text" name="Longitude">
 <br /><br />
  Weather Sources (Press CTRL to select multiple sources):<br>
  <br />
  <select name="source" multiple>
  <option value="accuweather">Accuweather</option>
  <option value="NOAA">NOAA</option>
  <option value="weatherdotcom">weather</option>
</select>
<br /><br />
 <input type="submit" value="Current Temperature">
</form>

</div>
